body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#question-container {
   
    background-color: #FFC0CB;
    
}

#answer-container {

background-color: #00C0CB;

}

.question {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
